<h2>Rachel's GIRLS WHO CODE widgets</h2>

<ul>
  <li><a href="Icebreakers/AvatarMaker/index.html">Avatar Maker</a></li>
  <li><a href="https://rachelwilshasingh.gitlab.io/girls-who-code-stuff/RandomChooser/">Random Person Chooser</a></li>
</ul>
