body {
  background: url( "images/background.png" );
}

.window {
  border: solid 3px #18c0ff;
  border-radius: 15px;
  background: #000;
  text-align: center;
  padding-top: 10px;
}

.viewer {
  width: 400px;
  height: 450px;
  margin: 0 auto;
  background: #8ce0ff;
  border-radius: 15px;
  position: relative;
}

.viewer .avatar-part {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.viewer .avatar-part {
  width: 400px;
  height: 450px;
}

.viewer #avatar-base {
  
  z-index: 0 !important;
}

.viewer #avatar-outfit {
  
  z-index: 2 !important;
}

.viewer #avatar-hair {
  
  z-index: 3 !important;
}

.viewer #avatar-ears {
  
  z-index: 4 !important;
}

.viewer #avatar-face {
  
  z-index: 4 !important;
}

.viewer #avatar-accessory {
  
  z-index: 6 !important;
}

.options {
  margin-top: 10px;
  margin-bottom: 10px;
}

.options .tab-nav {
  margin-bottom: 10px;
}

.options .tab-nav button {
  margin: 10px;
}

.options button {
  font-size: 2em;
  cursor: pointer;
}

.options-pane .option {
  width: 50px;
  height: 56px;
  border: solid 2px #fff;
  margin: 10px;
  background-size: 50px 56px !important;
  background-repeat: none;
}

.options-pane .option.option-base {
  background-color: #74ffd3 !important;
}

.options-pane .option.option-outfit {
  background-color: #74ffd3 !important;
  background-size: 150px 150px !important;
  background-position: -30px -80px !important;
}

.options-pane .option.option-hair {
  background-color: #74ffd3 !important;
  background-size: 80px 80px !important;
  background-position: 10px 0 !important;
}

.options-pane .option.option-ear {
  background-color: #74ffd3 !important;
  background-size: 150px 150px !important;
  background-position: -30px -15px !important;
}

.options-pane .option.option-accessory {
  background-color: #74ffd3 !important;
  background-size: 150px 150px !important;
  background-position: -30px -30px !important;
}

.options-pane .option.option-face {
  background-color: #74ffd3 !important;
  background-size: 150px 150px !important;
  background-position: -30px -30px !important;
}


@media only screen and (max-width: 1000px) {
  .viewer {
    width: 800px;
    height: 900px;
  }
  
  .viewer .avatar-part {
    width: 800px;
    height: 900px;
    background-size: 800px 900px;
  }

  .viewer span { 
  }

  button {
    width: 90%;
    font-size: 100px !important;
  }
  

  .options-pane .option {
    width: 200px;
    height: 250px;
    background-size: 200px 250px !important;
  }
  

  .options-pane .option.option-outfit {
    background-size: 600px 600px !important;
    background-position: -120px -320px !important;
  }

  .options-pane .option.option-hair {
    background-size: 320px 320px !important;
    background-position: 160px 0 !important;
  }

  .options-pane .option.option-ear {
    background-size: 600px 600px !important;
    background-position: -120px -60px !important;
  }

  .options-pane .option.option-accessory {
    background-size: 600px 600px !important;
    background-position: -120px -120px !important;
  }

  .options-pane .option.option-face {
    background-size: 600px 600px !important;
    background-position: -120px -120px !important;
  }
}

